$primary-text-color: #6E62E5;
$secondary-text-color: #282E39;
$third-text-color:#5C52BF;
$text-gray-color: #808EA7;
$text-primaryGreen-color: #10A376;
$text-drak-color: #16181D;
$text-red-color: #D55357;
$text-secondred-color:#E76060;
$text-redWhite-color: #FFE0E1;
$text-white-color: #FFFF;
$text-green-color: #13C38E;
$text-grayWhite-color: #F8F8F9;
