@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$default-font-family: Poppins, system, "Segoe UI", Arial, Helvetica, sans-serif;

*, .dx-widget input, .dx-widget textarea {
  font-family: $default-font-family;
}

$primary-text-color: #6E62E5;
$secondary-text-color: #282E39;
$third-text-color:#5C52BF;
$text-gray-color: #808EA7;
$text-primaryGreen-color: #10A376;
$text-drak-color: #16181D;
$text-red-color: #D55357;
$text-secondred-color:#E76060;
$text-redWhite-color: #FFE0E1;
$text-white-color: #FFFF;
$text-green-color: #13C38E;
$text-grayWhite-color: #F8F8F9;
$text-prpuler-color:#8206C0;
$text-prpulerWhite-color:#e6e4ff;