<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <input type="text" placeholder="Search..." class="search-input mt-2" />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-end">
          <li
            class="nav-item d-flex align-items-center justify-content-center notification mt-2"
          >
            <img
              src="../../../../assets/images/icons/notify.svg"
              alt=""
              srcset=""
            />
          </li>
          <li
            class="nav-item d-flex align-items-center justify-content-center mt-2 lang"
          >
            <span>العربيه</span>
            <img
              src="../../../../assets/images/icons/lang.svg"
              alt=""
              srcset=""
            />
          </li>
          <li
            class="nav-item d-flex align-items-center justify-content-center lang mt-2"
          >
            <div class="user-dropdown d-flex">
              <img
                src="../../../../assets/images/icons/user.png"
                alt=""
                srcset=""
              />
              <div class="user-info">
                <div class="user-name">Mohamed atef</div>
                <div class="user-status">Available</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

