<div class="user pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                  <h5 class="title">Users</h5>
                  <button class="btn callBtn prpulerBg text-white-color">Call customer</button>
                </div>
            </div>
            <div class="col-12">
                <app-user-info></app-user-info>
                <app-profile-user></app-profile-user>
            </div>
        </div>
    </div>
</div>