.header {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  .content {
    flex: 1; 
    width: 100%;
 padding: 0 1rem;
    img {
      width: 65%;
      margin-top: 0.7rem;
    }
    .title {
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: #a5b3cd;
    }
    ul {
      list-style: none;
      padding-inline-start:0;
      li {
        color: #808ea7;
        margin-top: 0.5rem;
        cursor: pointer;
        padding: 0.5rem;
        svg {
          margin-inline-end: 0.4rem;
          stroke: #808ea7;
        }
      }
    }
    .activeLINK {
      background: #6e62e5;
      
      border-radius: 12px;
      color: #fff !important;
      svg {
        stroke: #fff !important;
      }
    }
  }
  .logot {
    bottom: 0;
    height: 50px;
    width: 100%;
    cursor: pointer;
    img {
      width: 20px;
    }
    span {
      font-size: 1rem;
    }
  }
}
@media (max-width: 768px) {
  .header {
    .content {
      padding: 0;
      img {
        width: 100%;
      }
      .title,
      span {
        display: none;
      }
      li {
        width: fit-content;
        svg {
          margin-inline-end: 0 !important;
        }
      }
    }
    .logot {
      span{
        display: none;
      }
    }
  }
}
