<div class="emergency mt-3">
  <h5 class="title">Emergency call</h5>
  <div class="red cardCall d-flex justify-content-between">
    <div class="user-dropdown d-flex align-items-center">
      <img
        src="../../../../assets/images/icons/user.png"
        alt="userIcon"
        srcset=""
      />
      <div class="user-info">
        <div class="user-name">Ahmed atef</div>
        <div class="user-status text-gray-color">Service inquiry</div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0">00:30</p>
      <img
        class="phone"
        src="../../../../assets/images/icons/call.svg"
        alt="call"
        srcset=""
      />
    </div>
  </div>
  <h5 class="title mt-4">Incoming</h5>
  <div class="gray cardCall d-flex justify-content-between mt-3">
    <div class="user-dropdown d-flex align-items-center">
      <img
        src="../../../../assets/images/icons/user.png"
        alt="userIcon"
        srcset=""
      />
      <div class="user-info">
        <div class="user-name">Ahmed atef</div>
        <div class="user-status text-gray-color">Service inquiry</div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0">00:30</p>
      <img
        class="phone"
        src="../../../../assets/images/icons/call.svg"
        alt="call"
        srcset=""
      />
    </div>
  </div>
   <div class="gray cardCall d-flex justify-content-between mt-3">
    <div class="user-dropdown d-flex align-items-center">
      <img
        src="../../../../assets/images/icons/user.png"
        alt="userIcon"
        srcset=""
      />
      <div class="user-info">
        <div class="user-name">Ahmed atef</div>
        <div class="user-status text-gray-color">Service inquiry</div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0">00:30</p>
      <img
        class="phone"
        src="../../../../assets/images/icons/call.svg"
        alt="call"
        srcset=""
      />
    </div>
  </div>
   <div class="gray cardCall d-flex justify-content-between mt-3">
    <div class="user-dropdown d-flex align-items-center">
      <img
        src="../../../../assets/images/icons/user.png"
        alt="userIcon"
        srcset=""
      />
      <div class="user-info">
        <div class="user-name">Ahmed atef</div>
        <div class="user-status text-gray-color">Service inquiry</div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0">00:30</p>
      <img
        class="phone"
        src="../../../../assets/images/icons/call.svg"
        alt="call"
        srcset=""
      />
    </div>
  </div>
  <div class="gray cardCall d-flex justify-content-between mt-3">
    <div class="user-dropdown d-flex align-items-center">
      <img
        src="../../../../assets/images/icons/user.png"
        alt="userIcon"
        srcset=""
      />
      <div class="user-info">
        <div class="user-name">Ahmed atef</div>
        <div class="user-status text-gray-color">Service inquiry</div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0">00:30</p>
      <img
        class="phone"
        src="../../../../assets/images/icons/call.svg"
        alt="call"
        srcset=""
      />
    </div>
  </div>
   <div class="gray cardCall d-flex justify-content-between mt-3">
    <div class="user-dropdown d-flex align-items-center">
      <img
        src="../../../../assets/images/icons/user.png"
        alt="userIcon"
        srcset=""
      />
      <div class="user-info">
        <div class="user-name">Ahmed atef</div>
        <div class="user-status text-gray-color">Service inquiry</div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <p class="mb-0">00:30</p>
      <img
        class="phone"
        src="../../../../assets/images/icons/call.svg"
        alt="call"
        srcset=""
      />
    </div>
  </div>
  
    <h5 class="title text-center mt-3 mb-0">20 More</h5>

</div>
