.emergency {
    .red{
            background: #ffe0e1;
    }
    .gray{
        background: #F8F8F9;
    }
    .containerList{
      height: 500px;
      overflow-x: auto;
    }
  .cardCall {
    padding: 1rem;
    border-radius: 12px;
    align-items: center;
  .user-dropdown {
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
    }
    .user-info {
      .user-name {
        color: #16181D;
        margin-inline-start: 0.5rem;
        font-size: 14px;
            white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    display: inline-block;
      }
      .user-status {
        margin-inline-start: 0.5rem;
        font-size: 12px;
      }
    }
    
  }
  .phone {
      width: 30px;
      height: 30px;
     margin-inline-start: 0.5rem;
    }
}
}
