.profile-container {
  background: #ffff;
  padding: 1rem;
  border-radius: 12px;
  color: #333;

  .tabs {
    display: flex;
    border-bottom: 2px solid #eee;
    margin-bottom: 1rem;
    @media(max-width:600px){
        overflow-x: scroll;
    }
     .tab {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-weight: 500;
    color: #808EA7;
    font-size: 1.15rem;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;

    &:hover {
      color: #8206C0;
    }

    &.active {
      color: #16181D;
      font-weight: 600;
      border-bottom: 4px solid #8206C0;
    }
  }
  }

 
    .profile-section {
      background: #faf9ff;
      border-radius: 12px;
      padding: 1.2rem;
      height: 100%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
      
      .profile-item {
        margin-bottom: 1rem;
        align-items: center;
        gap: 0.75rem;

        i {
          color: #a07eff;
          font-size: 1.1rem;
        }

        .label {
          font-size: 0.85rem;
          color: #999;
          min-width: 120px;
        }

        .value {
          font-weight: 600;
          color: #333;
        }
      }
    }
  
}
