<div class="callValue">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="prpulerWhiteBg cards  mt-3 ">
                    <img class="bord50" src="../../../../assets/images/icons/user.png" alt="" srcset="" />
                    <div class="info">
                        <p class="mb-0 text-secondary-color">Magdy Hassan</p>
                         <p class="mb-0 text-gray-color">ID: 826637268</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="cards mt-3 ">
                            <img src="../../../../../assets/images/icons/calls.svg" alt="" srcset="" />
                            <div class="info">
                                <p class="mb-0 text-gray-color">Calls</p>
                                <strong class="text-drak-color">21</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cards mt-3 ">
                            <img src="../../../../../assets/images/icons/documentIcon.svg" alt="" srcset="" />
                            <div class="info">
                                <p class="mb-0 text-gray-color">Documents</p>
                                <strong class="text-drak-color">21</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cards mt-3 ">
                            <img src="../../../../../assets/images/icons/satisfactionIcon.svg" alt="" srcset="" />
                            <div class="info">
                                <p class="mb-0 text-gray-color">Satisfaction</p>
                                <strong class="text-primary-color">5.0</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
