 <div class="cardStyle mt-3 h-100">
                    <div class="d-flex">
                        <img class="bord50" src="../../../../assets/images/icons/user.png" alt="" srcset="" />
                        <div class="info">
                            <p class="mb-0 text-secondary-color">Magdy Hassan</p>
                            <p class="mb-0 text-gray-color">ID: 826637268</p>
                        </div>
                    </div>
                    <div class="details mt-3">
                        <ul>
                            <li class="detail-item">
                                <i class="bi bi-calendar2-week"></i>
                                <span>{{'Date'|translate}}</span>
                            </li>
                            <li class="detail-item"> <i class="bi bi-clock"></i>
                                <span>{{'Time'|translate}}</span>
                            </li>
                            <li class="detail-item">
                                <i class="bi bi-star"></i>
                                <span>{{'Rating'|translate}}</span>
                            </li>
                            <li class="detail-item">
                                <i class="bi bi-question-square"></i>
                                <span>{{'Service'|translate}}</span>
                            </li>
                            <li class="detail-item">
                                <i class="bi bi-telephone"></i>
                                <span>{{'Waiting_Call'|translate}}</span>
                            </li>
                            <li class="detail-item">
                                <i class="bi bi-question-square"></i>

                                <span>{{'Queue'|translate}}</span>
                            </li>
                        </ul>
                        <ul>
                            <li class="detail-item">
                                <strong>12/09/2025</strong>

                            </li>
                            <li class="detail-item"> <strong>12:00pm</strong></li>
                            <li class="detail-item"> <strong>5.0</strong></li>
                            <li class="detail-item"> <strong>Online consultation</strong></li>
                            <li class="detail-item"><strong>5 mins</strong></li>
                            <li class="detail-item">

                                <strong>2</strong>
                            </li>
                        </ul>
                    </div>
             
                </div>