.satisfaction {
 
  h5 {
    font-size: 1rem;
    font-weight: 600;

  }
  :lang(en){
     strong{
    position: absolute;
    margin: auto;
    top: 50%;
    left: 33%;
    span{
      font-size: 28px;
    top: -12px;
    position: relative;
    left: 20px;
    }
  }
  }
  :lang(ar)
  {strong{
    position: absolute;
    margin: auto;
    top: 50%;
    left: 45%;
    span{
      font-size: 28px;
    top: -12px;
    position: relative;
    right: 75%;
    }
  }}
  apx-chart {
    height: 150px !important;
    display: block;
  }
}

:host ::ng-deep {
  .apexcharts-datalabel,
  .apexcharts-datalabel-label,
  .apexcharts-datalabel-value,
  .apexcharts-datalabels,
  .apexcharts-pie-label {
    cursor: default;
    pointer-events: none;
    display: none;
  }
  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left,
  .apexcharts-legend.apx-legend-position-top.apexcharts-align-left,
  .apexcharts-legend.apx-legend-position-right,
  .apexcharts-legend.apx-legend-position-left {
    display: none;
  }
  .apexcharts-canvas {
    height: 150px !important;
    padding-top: 2rem;
    justify-content: center;
    display: flex;
  }
}
