<div class="satisfaction cardStyle mt-3">
<h5 class="pt-2 text-secondary-color">{{"Satisfaction_score"|translate}}</h5>
<div class="position-relative">
<strong> <span class="third-text-color ">55</span>
    <img src="../../../../../assets/images/icons/arrow.svg" alt="" srcset="">
</strong>
<apx-chart
  [series]="chartOptions?.series"
  [chart]="chartOptions?.chart"
  [plotOptions]="chartOptions?.plotOptions"
  [fill]="chartOptions?.fill"
  [stroke]="chartOptions?.stroke"
  [labels]="chartOptions?.labels">
</apx-chart>
</div>
</div>



