<div class="settings">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5 class="fontSize18">Audio Settings</h5>
                <div class="">
                    <label for="userName" class="fontSize14 pb-2 mt-2 d-flex">Input device</label>
                    <select class="dl-input w-50">
                        <option>Default</option>
                        <option>Default</option>
                        <option>Default</option>
                    </select>
                </div>
                <div class="">
                    <label for="userName" class="fontSize14  mt-3 d-flex">Input Volume Devices</label>
                    <div class="d-flex">
                        <input class="w-100" type="range" min="0" max="100" value="50"> <span
                            class="volume-value px-3">50%</span>
                    </div>

                </div>
                <div class="">
                    <label for="userName" class="fontSize14 pb-2 mt-2 d-flex">Output device</label>
                    <select class="dl-input w-50">
                        <option>Default</option>
                        <option>Default</option>
                        <option>Default</option>
                    </select>
                </div>
                <div class="toggle-row">
                    <label class="fontSize14 pb-2 mt-2 d-flex">Enable mic</label>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                </div>
                <hr>
            </div>
            <div class="col-12">
                <h5 class="fontSize18">Video Settings</h5>
                <div class="mt-3">
                    <label for="userName" class="fontSize14 pb-2 mt-2 d-flex">Camera </label>
                    <select class="dl-input w-50">
                        <option>Default</option>
                        <option>Default</option>
                        <option>Default</option>
                    </select>
                </div>
                <div class="toggle-row">
                    <label class="fontSize14 pb-2 mt-2 d-flex">Enable camera</label>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider"></span>
                    </label>
                </div>
                <hr>
                <div class="toggle-row pt-3">
                    <label class="fontSize14 pb-2 mt-2 d-flex">Camera test</label>
                    <button class="dl-btn dl-btn--outline ">Camera test</button>
                </div>
            </div>
        </div>
    </div>
  
</div>