
<div id="chart" class="cardStyle mt-3">
  <h5 class="pt-2 text-secondary-color">{{"Call_Propensity"|translate}}</h5>

  <apx-chart
    [series]="chartOptions?.series"
    [chart]="chartOptions?.chart"
    [xaxis]="chartOptions?.xaxis"
    [stroke]="chartOptions?.stroke"
    [dataLabels]="chartOptions?.dataLabels"
    [yaxis]="chartOptions?.yaxis"
    [labels]="chartOptions?.labels"
    [legend]="chartOptions?.legend"
    [title]="chartOptions?.title"
    [tooltip]="chartOptions?.tooltip"
    [fill]="chartOptions?.fill"
    [grid]="chartOptions?.grid"
  ></apx-chart>
</div>
