<div class="setting">
    <div class="container-fluid">
        <div class="row">
            <ng-container *ngIf="!showFormForgetPass">
                <div class="col-12 col-lg-8">
                    <h5 class="fontSize18 mb-2">OTP</h5>

                    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6 }"></ng-otp-input>
                    <p class="text-gray-color fontSize14 mt-3">OTP send to your email</p>
                    <button class="dl-btn dl-btn--primary px-5 d-flex m-auto" (click)="Next()">Next</button>
                </div>
            </ng-container>
            <ng-container *ngIf="showFormForgetPass">
                <div class="col-12 col-lg-6">
                    <form [formGroup]="passwordForm">
                        <label class="fontSize14 my-2">New Password</label>
                        <div class="password-box position-relative">
                            <input class="dl-input" type="password" formControlName="password"
                                placeholder="Please Enter Password" required />
                            <span class="text-gray-color fontSize14">Enter new password</span>
                        </div>

                        <label class="fontSize14 my-2 pt-3">Re-enter Password</label>
                        <div class="password-box position-relative">
                            <input class="dl-input" type="password" formControlName="confirmPassword"
                                placeholder="Please Enter Password" required />
                            <span class="text-gray-color fontSize14" *ngIf="!passwordForm.hasError('passwordMismatch')">Use same new password</span>

                            <!-- رسالة خطأ تظهر تلقائي -->
                            <div class="text-danger fontSize14 mt-1"
                                *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('confirmPassword')?.touched">
                                Passwords do not match!
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="dl-btn dl-btn--primary px-5 mt-4" [disabled]="passwordForm.invalid"
                                (click)="Submit()">
                                Next
                            </button>
                        </div>
                    </form>



                </div>
            </ng-container>

        </div>
    </div>
</div>