<!-- <apx-chart *ngIf="chartOptions"
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [plotOptions]="chartOptions.plotOptions"
  [fill]="chartOptions.fill"
  [stroke]="chartOptions.stroke"
  [labels]="chartOptions.labels"
  [dataLabels]="chartOptions.dataLabels"
  [responsive]="chartOptions.responsive">
</apx-chart> -->

<div class="circule cardStyle">
    <div class="d-flex justify-content-between">
        <h5 class="title">Call Que</h5>
        <p class="status text-green-color">normal</p>
    </div>
    <div class="circuleDiv mt-3">
        <strong class="text-drak-color">40</strong>
        <img src="../../../../../assets/images/icons/circule.png" alt="" srcset="">
    </div>

</div>
