<div class="history">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <h5 class="title">{{'History'|translate}}</h5>
                </div>
            </div>
            <div class="col-12 col-lg-5 pb-4 pt-1 ">
               <app-user-info></app-user-info>

            </div>
            <div class="col-12 col-lg-7">
               <app-video></app-video>

            </div>
            <div class="col-12">
                <app-chats></app-chats>
            </div>
        </div>
    </div>
</div>