<div class="p-4">
    <div class="d-flex justify-content-between">
        <!-- Month Navigation -->
        <div class="d-flex items-center justify-between mb-4 gap-5 align-items-center">
            <i class="bi bi-chevron-left" (click)="prev()"></i>
            <div class="text-lg font-semibold">{{ formatMonth(viewDate) }}</div>
            <i class="bi bi-chevron-right" (click)="next()"></i>
        </div>

        <!-- View Switcher -->
        <div class="flex gap-2 mb-4 border radius p-1 bg-white">
            <button (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">Day</button>
            <button (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">Week</button>
            <button (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">Month</button>
            <button (click)="view = 'year'" [class.active]="view === 'year'">Year</button>
        </div>

    </div>
    <!-- Calendar View -->
    <ng-container [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            (dayClicked)="onDayClick($event.day.date)">
        </mwl-calendar-month-view>

        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            (hourSegmentClicked)="onDayClick($event.date)">
        </mwl-calendar-week-view>

        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
         (hourSegmentClicked)="onDayClick($event.date)">
        </mwl-calendar-day-view>
        <div *ngSwitchCase="'year'" class="text-center text-xl text-gray-600">
            Custom Year View
        </div>
    </ng-container>
</div>
<!--  -->
@if(showCreateEvent)
{<div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Events</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="onDayClick()"></button>
    </div>
    <div class="offcanvas-body">
        <div class="dropdown mt-3">
            <button class="btn border radius w-100 dropdown-toggle text-start" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>}