 .date {
   padding: 0.5rem 1rem;
   border: none;
   background-color: white;
   cursor: pointer;
   border-radius: 2px;
 }

 .active {
   background-color: rgba(167, 166, 166, 0.993);
 }

 .radius {
   border-radius: 4px;
 }

 :host ::ng-deep {
   .p-calendar {
     width: 100%;
   }
.p-multiselect {
  
    width: 100%;
    margin-top: 1rem;
}
   :lang(ar) {

     .p-datepicker .p-datepicker-header .p-datepicker-prev,
     .p-datepicker .p-datepicker-header .p-datepicker-next,
     .bi-chevron-left::before,
     .bi-chevron-right::before {

       transform: rotateZ(180deg);
     }

     .offcanvas-header .btn-close {
       margin-right: auto;
       margin-left: unset;
     }
   }
 }

 @media(min-width:500px) {
   .containerDate {
     display: flex;
     justify-content: space-between;
   }
 }