<div class="p-4">
    <div class="containerDate my-3">
        <h5 class="title fs-2"> Appointments</h5>
        <button class="dl-btn dl-btn--outline dl-btn--icon px-3" (click)="onDayClick()">Create <i
                class="bi bi-plus-lg"></i> </button>
    </div>
    <div class="date radius py-5">
        <div class="containerDate mx-3">
            <!-- Month Navigation -->
            <div class="d-flex items-center justify-between mb-4 gap-5 align-items-center">
                <i class="bi bi-chevron-left" (click)="prev()"></i>
                <div class="text-lg font-semibold">{{ formatMonth(viewDate) }}</div>
                <i class="bi bi-chevron-right" (click)="next()"></i>
            </div>

            <!-- View Switcher -->
            <div class="flex gap-2 mb-4 border radius bg-white">
                <button class="date" (click)="view = CalendarView.Day"
                    [class.active]="view === CalendarView.Day">Day</button>
                <button class="date" (click)="view = CalendarView.Week"
                    [class.active]="view === CalendarView.Week">Week</button>
                <button class="date" (click)="view = 'year'" [class.active]="view === 'year'">Work Week</button>

                <button class="date" (click)="view = CalendarView.Month"
                    [class.active]="view === CalendarView.Month">Month</button>
            </div>

        </div>
        <!-- Calendar View -->
      <ng-container [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                (dayClicked)="onDayClick($event.day)">
            </mwl-calendar-month-view>

            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                (hourSegmentClicked)="onDayClick($event)">
            </mwl-calendar-week-view>

            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                (hourSegmentClicked)="onDayClick($event)">
            </mwl-calendar-day-view>
            <div *ngSwitchCase="'year'" class="text-center text-xl text-gray-600">
                Custom Year View
            </div>
        </ng-container>
    </div>
</div>
<!--  -->
@if(showCreateEvent)
{<div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel"
    style="width: 35%;">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">New appointment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="onDayClick()"></button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="form">

            <input class="dl-input" type="text" placeholder="Event name" formControlName="title" />

            <ng-select class="mt-3" [multiple]="true" [items]="userList" bindLabel="name" bindValue="id"
                placeholder="select User" formControlName="users">
            </ng-select>

            <div class="mt-3">
                <p-calendar [inline]="true" [showWeek]="true" formControlName="start">
                </p-calendar>
            </div>
        </form>

        <div class="d-flex justify-content-end mt-3">
            <button class="dl-btn dl-btn--outline mx-3" (click)="onDayClick()">Cancel</button>
            <button *ngIf="type == 'add'" class="dl-btn dl-btn--primary " (click)="addEvent()">Save</button>
            <button *ngIf="type != 'add'" class="dl-btn dl-btn--primary " (click)="updateEvent()">Updated</button>


        </div>

    </div>
</div>}