<div class="callValue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="title pt-3">Dashboard</h2>
      </div>
      <div class="col-12 col-lg-6"></div>
      <div class="col-12 col-lg-3">
        <div class="cards mt-3 ">
          <img
            src="../../../../../assets/images/icons/incomingCall.svg"
            alt=""
            srcset=""
          />
          <div class="info">
            <p  class="mb-0">Incoming calls</p>
            <strong class="incoming">221</strong>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="cards mt-3 ">
          <img
            src="../../../../../assets/images/icons/answerCall.svg"
            alt=""
            srcset=""
          />
          <div class="info ">
            <p  class="mb-0">Answered calls</p>
            <strong class="answered">160</strong>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="cards mt-3">
          <img
            src="../../../../../assets/images/icons/abandonCall.svg"
            alt=""
            srcset=""
          />
          <div class="info ">
            <p  class="mb-0">Abandoned calls</p>
            <strong class="abandoned">70</strong>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="cards mt-3  ">
          <img
            src="../../../../../assets/images/icons/totalCall.svg"
            alt=""
            srcset=""
          />
          <div class="info ">
            <p  class="mb-0">Total call duration</p>
            <strong class="duration">02:50 M</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
