

/* Sidebar */
.sidebar {
  width: 240px;
  transition: width 0.3s ease;
}

/* Main Content */
.main-content {
  flex: 1;
  transition: margin-left 0.3s ease;
   width: calc(100% - 240px);
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
  .main-content {

   width: calc(100% - 60px);
}
}
