.d-flex {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  transition: width 0.3s ease;
}

/* Main Content */
.main-content {
    background: #f8f8f9;
  flex: 1;
  transition: margin-left 0.3s ease;
}

/* Media Query for Mobile View */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
}
