.video-wrapper {
    position: relative;
    @media(min-width:800px){
   height: 335px;
    }
 
    video {
        border: 5px solid #DADADA;
        border-radius: 20px;
        margin-top: 1rem;
        height: 100%;
    }

    .playVideo {
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: 45%;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #E1E1E1B0;
        border: none;
        width: 99px;
        height: 99px;

        .bi-caret-right {
            font-size: 35px;
        }

        @media(max-width:800px) {
            top: 35%;
            left: 44%;
            width: 55px;
            height: 55px;
        }
    }
}